:root{
    --font-pricnipal:'Montserrat', sans-serif;
    --font-titulo:'Fraunces', serif;

    --verde:#3D8168;
    --cinza-medio:#949397;
    --branco:#FFFFFF;
    --cor-fundo:#F3EAE3;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pricnipal);
    font-size: 14px;
    width: 100%;
    height: 100vh;
    background: var(--cor-fundo);
}

.container{
    max-width: 416px;
    margin:2rem;
    background-color: var(--branco);
    border-radius: 0.7rem;
}

.img__perfume--chanel{
    width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;
}

.info__produto{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.info__perfume{
    text-transform: uppercase;
    color: var(--cinza-medio);
    letter-spacing: 3.5px;
    margin-bottom: 1rem;
}

.titulo__nome--perfume{
    font-family: var(--font-titulo);
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.descricao__produto{
    display: flex;
    flex-direction: column;
}

.descricao__produto{
    color: var(--cinza-medio);
    line-height: 1.4rem;
    padding-bottom: 1.5rem;

}
.info__vlr{
    padding-bottom: 1.5rem;
}

.vlr__produto{
    font-family: var(--font-titulo);
    font-size: 2rem;
    color: var(--verde);
    
    
}

.vlr__original{
    color: var(--cinza-medio);
    font-size: 14px;
    font-family: var(--font-pricnipal);
    padding-bottom: 1.5rem;
    margin-left: 0.9rem;   
}

.btn__carinho{
    background: var(--verde);
    color: var(--branco);
    border-radius: 0.7rem;
    border:0;
    height: 3rem;
    font-size: 14px;
    font-weight: 700;
}

.carrinho__compra{
    margin-right: 0.3rem;
    
    
}